body {
  background-color: rgb(238, 245, 245);
}

.App {
  text-align: center;

  .title {
    position: relative;
    top: 100px;

    @media (max-width: 1120px) {
      position: static;
    }
  }

  hr {
    border-color: #4dafff;
  }

  h1 {
    font-size: 50px;
    color: #2196f3;
  }
}
