body {
  background-color: rgb(238, 245, 245);
}

.App {
  text-align: center;

  .logo {
    width: 130px;
    height: 130px;
    animation: spin 5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .title {
    position: relative;
    top: 100px;

    @media (max-width: 1120px) {
      position: static;
    }
  }

  hr {
    border-color: #4dafff;
  }

  h1 {
    font-size: 50px;
    color: #2196f3;
  }
}
